{% extends "base/base.html" %}
{% load base_tags %}

{% block main-content-body %}
    <br />
    <form method="post" action="{% url 'login' %}">
    <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <p>On this instance, you can simply <strong>use your hyBit Account</strong>.</p>

            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.errors }}
                {{ form.username.label_tag }} {{ form.username | addclass:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.password.errors }}
                {{ form.password.label_tag }} {{ form.password | addclass:"form-control" }}
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </div>
        <div class="card-footer">
            <div class="submit-row">
                <label class="form-label d-none">&nbsp;</label><input class="btn btn-success" type="submit" value="Log in">
            </div>
        </div>
    </div>
    </form>

{% endblock %}
